/* Estilos para la barra de navegación */
nav {
    background-color: #343a40; /* Color de fondo */
    padding: 10px; /* Espaciado interno */
  }
  
  /* Estilos para el logotipo en la barra de navegación */
  .navbar-brand {
    color: #fff; /* Color del texto */
    font-size: 24px; /* Tamaño de fuente */
    font-weight: bold; /* Texto en negrita */
  }
  
  /* Estilos para los enlaces de navegación */
  .nav-link {
    color: #fff; /* Color del texto */
    font-size: 18px; /* Tamaño de fuente */
    padding: 10px 15px; /* Espaciado interno horizontal y vertical */
    transition: background-color 0.2s ease; /* Transición suave al hacer hover */
  }
  
  /* Estilos para los enlaces de navegación al hacer hover */
  .nav-link:hover {
    background-color: #495057; /* Color de fondo al hacer hover */
  }
  
  /* Estilos para el contenedor de la barra de navegación */
  .container {
    max-width: 1200px; /* Ancho máximo del contenedor */
    margin: 0 auto; /* Centrar el contenedor en la página */
    display: flex; /* Hacer que los elementos internos se alineen en una fila */
    justify-content: space-between; /* Espacio entre los elementos internos */
    align-items: center; /* Centrar verticalmente los elementos internos */
  }
  
  /* Estilos para el botón de logout */
  .nav-item:last-child {
    margin-left: 10px; /* Espacio entre el botón de logout y otros elementos */
  }
  